
    <div class="panel panel-default" v-for="group in menu.groups">

        <div class="panel-heading">
            <h1 id="{{ group.slug }}">{{ group.title }}</h1>
        </div>

        <table class="table">

            <tr v-for="product in group.products">

                <td>{{ product.title }}</td>

                <td v-for="price in product.prices">
                    {{ price | currency '£' }}
                </td>

            </tr>

        </table>

    </div>

    <!--<pre>{{ $data | json }}</pre>-->