
    <div id="Basket" class="panel panel-danger">

        <table class="table">

            <thead id="Basket__Header">
                <tr>
                    <td>Item</td>
                    <td>Price</td>
                    <td></td>
                </tr>
            </thead>

            <tbody id="Basket__Items">
                <tr v-for="item in items">
                    <td>{{ item.title }}</td>
                    <td>{{ item.price |  currency '£'}}</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
            </tbody>

            <tfoot id="Basket__Totals">
                <tr>
                    <td>Total:</td>
                    <td>{{ getTotal | currency '£' }}</td>
                    <td></td>
                </tr>
            </tfoot>

        </table>


        <div class="panel-body">

            <button type="button" class="btn btn-lg btn-block btn-success">Apply Student Discount</button>
            <button type="button" class="btn btn-lg btn-block btn-success">Enter Coupon</button>
            <hr style="margin: 6px 0 6px 0">
            <button type="button" class="btn btn-lg btn-block btn-danger">Checkout!</button>

        </div>


    </div>