@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background-green: #5d9846;

body {
  background-color: $background-green
}

.navbar-tonys {

  -webkit-box-shadow: 0px 8px 20px -2px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 8px 20px -2px rgba(0,0,0,0.50);
  box-shadow: 0px 8px 20px -2px rgba(0,0,0,0.50);

  a {
    color: #e4e6e4;
  }

  background-color: darken($background-green, 10);
  color: whitesmoke;

  .logo {
    height: 60px;
    position: relative;
    top: -6px
  }

  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
  }

  //@media (max-width: 767px) {
  //  .navbar-nav > li > a {
  //    line-height: 20px;
  //    padding-top: 10px;
  //    padding-bottom: 10px;}
  //}
}

.glyphicon.glyphicon-leaf
{
  color: lighten(#2b542c, 20);
}

.panel {

  background-color: white;
  border-radius: 0;

  -webkit-box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);
  -moz-box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);
  box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);

  .panel-heading {

    padding: 0;
    background-color: inherit;

    h1 {
      margin: 0;
      padding: 8px;
      //background-color: darken(red, 10);
      background-color: #d9534f;
      color: whitesmoke;
      font-family: "Georgia", Times, serif;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .panel-body {

  }
}

.Menu {

  .Menu__Item {

    cursor: pointer;
    font-weight: bold;

    .Menu__Price {
      width: 60px;
      font-weight: bold;
      text-align: center;
    }
  }

  .Menu__Options {

    display: none;

    .Menu__Description {
      color: red;
    }

    .Menu__Button
    {
      text-align: center;
      vertical-align: middle;

      button {
        cursor: pointer;
      }
    }
  }
}

#Basket {

  #Basket__Header {
    td:nth-child(2)
    {
      width: 60px;
      text-align: center;
    }

    td:last-child {
      width: 30px;
    }
  }

  #Basket__Items {
    td:nth-child(2)
    {
      text-align: center;
    }
  }

  #Basket__Totals {
    td:first-child {
      text-align: right;
    }
    td:last-child {

    }
  }

}