@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background-green: #5d9846;

body {
  background-color: $background-green
}

.navbar-tonys {

  a {
    color: #e4e6e4;
  }

  background-color: darken($background-green, 10);
  color: whitesmoke;

  .logo {
    height: 60px;
    position: relative;
    top: -6px
  }

  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
  }

  @media (max-width: 767px) {
    .navbar-nav > li > a {
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;}
  }
}

.glyphicon.glyphicon-leaf
{
  color: lighten(#2b542c, 20);
}

.panel {

  background-color: whitesmoke;
  border-radius: 0;

  -webkit-box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);
  -moz-box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);
  box-shadow: 8px 8px 20px -2px rgba(0,0,0,0.50);

  .panel-heading {

    background-color: inherit;

    h1 {
      margin: 0;
      padding: 4px 6px;
      background-color: darken(red, 10);
      color: whitesmoke;
      font-family: "Georgia", Times, serif;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .panel-body {

  }
}






